.app {
	background: lightgray;
	min-height: 100vh;
}

.nav {
	overflow: hidden;
	padding: 1em;
}

.nav a {
  float: left;
  text-align: center;
  padding: 1.15em 1.25em;
	text-decoration: none;
	font-size: 1.20em;
	color: black;
}

.nav a:hover {
	text-decoration: underline;
  color: black;
}

.nav a.active {
  color: black;
}

.nav-right {
  float: right;
}

.center-button {
	margin-top: 0.70em;
}

.ui.secondary.pointing.menu {
	border-bottom: none;
}