.nav {
	overflow: hidden;
	padding: 1em;
}

.nav-right {
  float: right;
}

.nav-item {
	background-color: yellow; /* #F2F2F2 */
  border-bottom: 0.15em solid #000000;
  color: #000000;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 1.15em;
	font-weight: bold;
  /* margin: 0.25em 2px; */
  cursor: pointer;
}

.nav-item:hover {
	border-bottom: 0.15em solid #000000;
}

.nav button.active {
  border-bottom: 0.15em solid purple;
}

.nav a {
  float: left;
  text-align: center;
  padding: 1.15em 1.25em;
	text-decoration: none;
	font-size: 1.20em;
	color: black;
}

.nav a:hover {
	text-decoration: underline;
  color: black;
}

.nav a.active {
  color: black;
}

