.nav {
	overflow: hidden;
  padding: 1em;
  margin-bottom: 2em;
}

.nav-right {
  float: right;
}

.nav-item {
	background-color: white;
  border: none;
  color: #000000;
  padding: 1em 1.5em;
  margin: 0 0.5em 0 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 1.15em;
	font-weight: bold;
  cursor: pointer;
}

.nav-item:hover {
	border-bottom: 0.25em solid #000000;
}

.nav button.active {
  border-bottom: 0.25em solid black;
}

.nav a {
  float: left;
  text-align: center;
  padding: 1.15em 1.25em;
	text-decoration: none;
	font-size: 1.20em;
	color: black;
}

.nav a:hover {
	text-decoration: underline;
  color: black;
}

.nav a.active {
  color: black;
}

